
<div class="message">
  <p><%= @message %></p>
  <p>-<em>You</em> </p>
</div>
<div class="answer">
  <p><%= @answer %></p>
  <p>-<em>Your Coach</em> </p>
</div>

<%= link_to "Talk again to this dumb", ask_path   %>
